/*Обнулення стилів*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; } :focus { outline:0; } body { line-height:1; color:black; background:white; } ol, ul { list-style:none; }
body{
	font: 1em helvetica, tahoma, sans-serif;
	text-align: center;
	min-width: 520px;
	min-height: 480px;
}
a{text-decoration: none;}
header{text-align: center; margin: 20px 0px;}
header a{color: #8A2BE2;}
h1{font-size: 4em;}
h3{font-size: 1.5em;}
.main{display: inline-block; max-width: 980px;}
ul{ display: inline-block; -webkit-padding-start: 0px;}
#marks li{
	display: inline-block;
	border-radius: 4px;
	border: 2px solid #cecece;
	width: 280px;
	height: 150px;
	vertical-align: middle;
	list-style: none;
	font-size: 2em;
	margin: 20px;
	cursor: pointer;
}
#marks li span{display: inline-block; margin-top: 52px;}
#marks li:hover{border: 2px solid #8A2BE2;}
#overlay1, #overlay2 {
  position: fixed; 
  top: 0px; 
  left: 0px;
  background: #000;
  opacity: 0.7;
  z-index: 9000;
  width: 100%;
  height: 100%;
  display: none;
}
#programs {
  max-width: 600px;
  width: 60%;
  border: 2px solid #e8e8e8;
  border-radius: 4px;
  background: #fdfdfd;
  display: none;
  z-index: 9001;
  padding-bottom: 20px;
}
#programs h2{margin: 20px 0px 20px 0px; font-size: 2.3em; font-weight: bold;}
#programs_list li{list-style: none; font-size: 1.8em; text-align: center; margin: 20px 0px 20px 0px;}
#programs_list li:hover{ color: #8A2BE2; cursor: pointer;}
#year_list, #term_list{font-size: 1.3em; display: none;}
#year_list li, #term_list li{margin: 10px 0;}
#year_list li:hover, #term_list li:hover{color: #8A2BE2; cursor: pointer;}
#chosen_program{font-size: 1.3em; position: relative; top: -15px; display: block;}
/*List of subjects*/
.ListOfSubjects{display: none;}
#overlayBack {
  position: fixed; 
  top: 0px; 
  left: 0px;
  opacity: 10;
  z-index: 2;
  width: 7%;
  height: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
#overlayBack div{width: 7%; position: fixed; top: 50%; margin-top: -29px;}
#overlayBack span{font-size: 3em;}
#overlayBack:hover{background: #cecece;}
.mainForList{
	width: auto;
	margin: 2% auto;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #cecece;
	max-width: 600px;
	padding: 1%;
	z-index: 1;
}
#list{display: inline-block;}
#list li{list-style: none; text-align: left; margin: 1px;}
#delete{display: inline-block; margin-right: 10px; color: red; cursor: pointer; opacity: 0.4;}
.subject{ width: 400px; display: inline-block;}
#list input{ width: 30px; border-radius: 3px; border: 1px solid #cecece; padding-left: 4px;}
#list input:focus{border-color: #8A2BE2;}
.credit{margin-left: 10px;}
.add_subject input{font-size: 1em; width: 400px; padding:5px 8px; border-radius: 5px; border: 2px solid #cecece; margin-bottom: 20px;}
.add_subject input:focus{border: 2px solid #8A2BE2;}
.ui-autocomplete{width: 414px !important; background: white !important;}
.ui-autocomplete{height:  100px; overflow-y: scroll; overflow-x: hidden;}
.ui-menu-item{font-size: 0.9em !important;}
.calc{
	margin: auto;
	width: 100px;
	height: 25px;
	border-radius: 6px;
	border: 1px solid #8A2BE2;
	background-color: #8A2BE2;
	color: #fff;
	padding-top: 8px;
	cursor: pointer;
}
.calc:hover{opacity: 0.7;}
.average{
  max-width: 300px;
  width: 30%;
  height: 190px;
  border: 2px solid #e8e8e8;
  border-radius: 4px;
  background: #fdfdfd;
  display: none;
  z-index: 9003;
}
.average h2{margin-top: 15px; font-size: 1.8em; font-weight: bold;}
.average span{ display: inline-block;margin-top: 18px; font-size: 5em; color: #8A2BE2;}
/*Media quaries*/
@media only screen and (max-width : 990px) {
	#marks li{ width: 230px; height: 120px; margin: 10px; font-size: 1.5em;}
	#marks li span{ margin-top: 43px;}
  	#pop-up h2{ font-size: 2em; -webkit-margin-after: 0.33em;}
	#pop-up li{font-size: 1.3em;}
}
@media only screen and (max-width: 786px){
	#marks li{height: 100px; margin: 5px;}
	#marks li span{margin-top: 36px;}
  	#pop-up h2{font-size: 1.8em;-webkit-margin-after: 0.23em;}
	#pop-up li{font-size: 1.3em;}
	.average{height: 160px;}
	.average h2{font-size: 1.5em;}
	.average span{margin-top: 5px; font-size: 3.5em;}
}
@media only screen and (max-width: 580px){
	#pop-up h2{font-size: 1.5em;}
	#pop-up li{font-size: 1.1em;}
	.average{height: 160px;}
	.average h2{font-size: 1.2em;}
	.average span{margin-top: 5px; font-size: 3.9em;}
}